*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    background: url(/assets/img/car--1.jpg) no-repeat; 
    margin: 0;
    height: 800px;
    background-size: cover;
     /* max-height: 1500px; */
     /* padding-bottom: 300px;  */
    
}

.login__left {
    margin: 0;
    
}

.login__form{

    height: 476px;
    width: 350px;
      /* margin-left: 30px; */
    padding: 12px 50px;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);   
    border-radius: 6px;
    display: block;
    background-color: #fff;
    /* margin: 200px 200px 200px 0; */
}

#login__text {
    font-size: 18px;
    margin-top: 20px;
    display: block;
    margin-bottom: 8px;
}

.login__word {
    font-size: 30px;
    color: #fff;
    line-height: 32px;

}

.login__img {
    width: 420px;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);   
    height: 500px;
    border-radius: 6px;
}

.login__form--name {
    padding-top: 60px;
    padding-bottom: 20px;
}

.login__password,
.login__name,
.login__number {
    display: block;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    border-radius: 6px;
    color: #ccc;
}

.login__form--name {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 28px;
}

.login__btn {
    font-size: 20px;
    color: #fff;
    background-color: #3398d4;
    display: block;
    width: 100%;
    padding: 12px;
    width: 360px;
    border-radius: 5px;
    border: none;
    margin-top: 28px;
    margin-bottom: 38px;
    cursor: pointer;
}






